.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    grid-gap: 50px;
    /* background-color: hsl(0, 0%, 98%); */
  }
  .card-container {
    display: flex;
    flex-direction: column;
    /* background-color: #95dada; */
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  a { color: inherit; } 
  p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    
  }
  .card-container:hover {
    transform: scale(1.05);
  }
  input[type="search"] {
    /* display: block;
    margin: 0 auto; */
  width: 30%;
  padding: 12px 20px;
  margin: 8px 20px;
  margin-left: 200px;
  margin-bottom: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  }

  input[type="regions"] {
    /* display: block;
    margin: 0 auto; */
  width: 15%;
  padding: 12px 20px;
  margin: 8px 20px;
  margin-right: 200px;
  margin-bottom: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  }

  @media screen and (min-width: 375px) and (max-width: 800px) {
    .card-list {
      width: 85vw;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      }
   }

  @media only screen and (max-width: 375px) {
  
.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  }
}

