.light-mode {
    background-color: #fff;
    color: #333;
  }
  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color:hsl(0, 0%, 100%);
  }
  
  .dark-mode nav {
    background-color: #1b2938;
  }
  .light-mode-desktop {
    background-color: hsl(0, 0%, 98%);
  }
  .moon {
    font-size: 3em;
  }
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.navbar-items {
  display: flex;
  justify-content: space-between;

}
.moon-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
}
