h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

p {
    text-align: center;
    text-decoration: none;
}



.Input {
    display: flex;
    justify-content: space-between;
    
}


.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.light-mode {
    background-color: #fff;
    color: #333;
  }
  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
    height: 100%;
    
    
  }
  
  .dark-mode nav {
    background-color: #1b2938;
  }
  .light-mode-desktop {
    background-color: hsl(0, 0%, 98%);
  }
  .moon {
    font-size: 3em;
    
  }
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.moon-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
}

@media only screen and (max-width:  375px) and (max-width: 800px) {
  .Input {
    display: flex;
    flex-direction: column;
  }
  input[type="search"]{
    margin: 0 auto;
    height: 20px;
    width: 70%;
    margin-bottom: 20px;
  }
  input[type="regions"]{
    margin-left: 80px;
    height: 20px;
    width: 40%;
    margin-bottom: 20px;
  }
  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
    height: 100%;
    width: fit-content;
    
  }
  .light-mode {
    background-color: #fff;
    color: #333;
    width: fit-content;
  }
  .moon {
    padding-right: 10px;
    font-size: 2em;
  }
  .moon-end {
    padding-right: 50px;
    font-weight: 300;
    white-space: nowrap;
  }
  
}


  /* .moonDark::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f186"
    
  }
   */