h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: center;
}

p {
    text-align: center;
    text-decoration: none;
}
.dark-mode-input {
  background-color: hsl(207, 26%, 17%);
  color: white;
}
.light-input {
  background-color: #fff;
  color: #333;
}

.Input {
    display: flex;
    justify-content: space-between;
}


.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.light-mode {
    background-color: #fff;
    color: #333;
  }
  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
    height: 100%; 
  }
  
  .dark-mode nav {
    background-color: #1b2938;
  }
  .light-mode-desktop {
    background-color: hsl(0, 0%, 98%);
  }
  .moon {
    font-size: 3em;
    
  }
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.moon-end {
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
}
.select-css-dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: white;
  display: block;
	font-size: 16px;
	font-family: sans-serif;
  font-weight: 600;
  line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20%;
  height: 20%;
	max-width: 50%;
  box-sizing: border-box;
  margin-top: 10px;
	margin-right: 60px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 1px;
	-moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20%;
  height: 20%;
	max-width: 50%;
  box-sizing: border-box;
  margin-top: 10px;
	margin-right: 60px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 1px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

@media only screen and (max-width:  375px) and (max-width: 800px) {
  .Input {
    display: flex;
    flex-direction: column;
  }
  input[type="search"]{
    margin: 0 auto;
    height: 20px;
    width: 70%;
    margin-bottom: 20px;
  }
  .select-css-dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
    margin-left: 80px;
    height: 35px;
    width: 40%;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
  }
  .select-css {
    margin-left: 80px;
    height: 35px;
    width: 40%;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
  }
  .dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
    height: 100%;
    width: fit-content;
    
  }
  .light-mode {
    background-color: #fff;
    color: #333;
    width: fit-content;
  }
  .moon {
    padding-right: 10px;
    font-size: 2em;
  }
  .moon-end {
    padding-right: 50px;
    font-weight: 300;
    white-space: nowrap;
  }
  
}


  /* .moonDark::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f186"
    
  }
   */